.icon-row {
  display: flex;
  justify-content: space-between;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon-row__icon i {
  font-size: 35px;
}
.icon__new {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  left: 50px;
  bottom: 70px;
}
.icon-row__icon span {
  margin-top: 15px;
}
